*{
  padding: 0;
  margin: 0;
}

.header-enter {
  opacity: 0;
  transform: translateY(-30px);
}
.header-enter-active {
  opacity: 1;
  transform: translateY(0);
  backdrop-filter: blur(20px);
  transition: opacity 300ms, transform 300ms;
}
.header-exit {
  opacity: 1;

}
.header-exit-active {
  opacity: 0;
  transform: translateY(-30px);

  transition: opacity 300ms, transform 300ms;
}

.header-exit-done{
  opacity: 0;
  transform: translateY(-30px);
}

